.mf-top-movies-container {
    border-bottom: 1px solid var(--placeholder-color);
    padding-bottom: 32px;
}

.mf-top-movies-slider {
    overflow-x: scroll;
    white-space: nowrap;
}

.mf-slider-container-desktop {
    display: flex;
    align-items: center;
    overflow: hidden;

}

.mf-slider-button {
    padding: 24px 30px;
    margin: 16px;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    color: var(--placeholder-color);
    background-color: var(--main-bg-color);
    border: 2px solid var(--placeholder-color);
}


@media screen and (min-width: 760px) { 
    .mf-top-movies-slider{
      overflow: hidden;
    }
  }