.mf-app-background{
  background: linear-gradient(0deg, var(--main-bg-color) 0%,var(--main-bg-color) 90%,  rgba(13, 29, 55, .3) 100%) , url("./assets/backgroundimg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
}

.mf-app-container{
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
}

.mf-header{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mf-body{
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

@media screen and (min-width: 760px) { 
  .mf-app-container{
    padding: 24px 128px;

  }
}